<a href="https://colab.research.google.com/github/farid22022/Basic-Python/blob/main/PythonBasic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Write a Python program to print "Hello Python".

In [ ]:
print("Hello World!")

Hello World!

Write a Python program to do arithmetical operations addition and division.

In [ ]:
#Addition
num1 = float(input("Enter the first number : "))
num2 = float(input("Enter the second number : "))
print(num1+num2)
print(f"sum of {num1} + {num2} = {num1+num2}")

Enter the first number : 1
Enter the second number : 2
3.0
sum : 1.0 + 2.0 = 3.0

In [ ]:
#Division
num3 = float(input("Enter the first number : "))
num4 = float(input("Enter the second number : "))

if num4 == 0:
  print('Error ')
else:
  print(f"{num3/num4}")

Enter the first number : 2
Enter the second number : 1
2.0

Write a Python program to find the area of a triangle.

In [ ]:
base = float(input("input the base: "))
height = float(input("input the height: "))
print(f" Are is {.5*base*height}")

input the base: 10
input the height: 10
 Are is 50.0

 Write a Python program to swap two variables.

In [ ]:
a = float(input("Input the first number: "))
b = float(input("Input the second number: "))
c =a+b
print(a,b)
a = c-a
b=c-b
print(a,b)

Input the first number: 1
Input the second number: 2
1.0 2.0
2.0 1.0

 Write a Python program to generate a random number.

In [ ]:
import random
print(f" Random number: {random.randint(1,10)}")

 Random number: 2

Write a Python program to convert kilometers to miles.

In [ ]:
km = float(input())
print(.621371*km)

10
6.21371

Write a Python program to convert Celsius to Fahrenheit.

In [ ]:
celsius = float(input("INput the temperature in float: "))
fahrenheit = (celsius*9/5)+32
print(f" Temperature in Fahrenheit: {fahrenheit}")

INput the temperature in float: 104.5
 Temperature in Fahrenheit: 220.1

Write a Python program to display calendar.

In [ ]:
import calendar

year = int(input("Enter the year: "))
month = int(input("Enter the month: "))

cal = calendar.month(year,month)
print(cal)

Enter the year: 2003
Enter the month: 10
    October 2003
Mo Tu We Th Fr Sa Su
       1  2  3  4  5
 6  7  8  9 10 11 12
13 14 15 16 17 18 19
20 21 22 23 24 25 26
27 28 29 30 31

 Write a Python program to solve quadratic equation.

In [ ]:
import math

print('a*x*x + b*x + c = 0')
a = float(input("Input a: "))
b = float(input("Input b: "))
c = float(input("Input c: "))

discriminant = b**2 - 4*a*c

if discriminant > 0:
  root1 = (-b+math.sqrt(discriminant))/(2*a)
  root2 = (-b-math.sqrt(discriminant))/(2*a)

  print(f"Root 1 : {root1}")
  print(f"Root 2 : {root2}")

elif discriminant == 0:
  root = -b/(2*a)

  print(f"Root : {root}")

else:
  real_part = -b/(2*a)
  imaginary_part = math.sqrt(abs(discriminant)) / 2*a
  print(f"Root 1: {real_part} + {imaginary_part}i")
  print(f"Root 2: {real_part} - {imaginary_part}i")

a*x*x + b*x + c = 0
Input a: 1
Input b: 4
Input c: 8
Root 1: -2.0 + 2.0i
Root 2: -2.0 - 2.0i

 Write a Python program to swap two variables without temp variable.

In [ ]:
a = 10
b = 20
a,b = b,a
print(a,b)

20 10

Write a Python Program to Check if a Number is Positive, Negative or Zero.

In [ ]:
num = float(input("Enter a number: "))
if num > 0:
  print("Positive number")
elif num == 0:
  print("Zero")
else:
  print("Negative number")

Enter a number: 20
Positive number

Write a Python Program to Check if a Number is Odd or Even.

In [ ]:
number = float(input("Enter the number: "))
if number%2 == 0:
    print("Even")
else:
    print("Odd")

Enter the number: 10
Even

Write a Python Program to Check Leap Year.

In [ ]:
year = int(input("Enter the year: "))

if(year % 400 == 0) and (year % 100 ==0):
  print("{0} is a leap year".format(year))
elif (year %4 == 0) and (year % 100 != 0):
  print("{0} is a leap year".format(year))
else:
  print("{0} is not a leap year".format(year))

Enter the year: 2000
2000 is a leap year

Write a Python Program to Check Prime Number.

In [ ]:
num = int(input("Inter the number: "))

flag = False

if num == 1:
  print("{0} is not a prime number".format(num))
elif num > 1:
  for i in range(2,num):
    if(num % i) == 0:
      flag = True
      break

if flag:
  print("Yes")
else:
  print("No")

Inter the number: 1
1 is not a prime number
No

Write a Python Program to Print all Prime Numbers in an Interval of 1-10.

In [ ]:
lower = 1
upper = 10

for num in range(lower,upper+1):
   if num>1:
    for i in range(2,num):
      if(num%i == 0):
        break
    else:
      print(num)

2
3
5
7

 Write a Python Program to Find the Factorial of a Number.

In [ ]:
num = int(input("Enter a number: "))

factorial = 1

if num < 0:
  print("Factorial does not exist for negative number")
elif num == 0:
  print(1)
else:
  for i in range(i,num+1):
    factorial = factorial*i
    print(factorial)

Enter a number: 0
1
1

Write a Python Program to Display the multiplication Table.

In [ ]:
num = int(input("Enter the number: "))

for i in range(1,10):
  print(f"{num} X {i} : {num*i}")

Enter the number: 12
12 X 1 = 12
12 X 2 = 24
12 X 3 = 36
12 X 4 = 48
12 X 5 = 60
12 X 6 = 72
12 X 7 = 84
12 X 8 = 96
12 X 9 = 108
12 X 10 = 120

Write a Python Program to Print the Fibonacci sequence.

In [ ]:
def fibonacci(num):
   a,b = 0,1
   for _ in range(num+1):
    print(a,end=" ")
    a,b = b,a+b

fibonacci(20)

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597 2584 4181 6765

Write a Python Program to Check Armstrong Number?

In [ ]:
num = int(input("Enter a number: "))

size = len(str(num))

sum_of_powers = 0
tem = num

while(tem > 0):
  digit = tem % 10
  sum_of_powers += digit ** size
  tem //= 10

if sum_of_powers == num:
  print("Yes")
else:
  print("No")

Enter a number: 9474
Yes

Write a Python Program to Find Armstrong Number in an Interval.

In [ ]:
def searh_armstrong(num):
  size = len(str(num))

  sum_of_powers = 0
  tem = num

  while(tem > 0):
    digit = tem % 10
    sum_of_powers += digit ** size
    tem //= 10

  if sum_of_powers == num:
    print(num)

num1 = int(input("Enter the lower value for starting : "))
num2 = int(input("Enter the upper value for starting : "))
for i in range(num1,num2+1):
  searh_armstrong(i)

Enter the lower value for starting : 10
Enter the upper value for starting : 1000
153
370
371
407

 Write a Python Program to Find the Sum of Natural Numbers.

In [ ]:
n=10
print((int(int(n*(n+1))/2)))

55

Write a Python Program to Find LCM.

In [ ]:
def compute_lcm(x,y):
  if x<y:
    greater = y
  else:
    greater = x

  while(True):
    if((greater % x == 0) and (greater % y == 0)):
      lcm = greater
      break
    greater+=1

  return lcm

num1 = int(input("Enter a number1: "))
num2 = int(input("Enter a number2: "))
compute_lcm(num1,num2)

Enter a number1: 10
Enter a number2: 8

40

 Write a Python Program to Find HCF

In [ ]:
def compute_hcf(x,y):
  if x<y:
    smaller = x
  else:
    smaller = y
  for i in range(1,smaller+1):
    if((x%i == 0) and (y%i == 0)):
      hcf = i
  return hcf


num1 = int(input("Enter a number1: "))
num2 = int(input("Enter a number2: "))
compute_hcf(num1,num2)

Enter a number1: 10
Enter a number2: 8

2

 Write a Python Program to Convert Decimal to Binary, Octal and Hexadecimal.

In [ ]:
print(bin(10))
print(oct(10))
print(hex(10))

0b1010
0o12
0xa

Write a Python Program To Find ASCII value of a character.

In [ ]:
print(ord("a"))

97

Write a Python Program to Make a Simple Calculator with 4 basic mathematical
 operations.

In [ ]:
def add(x, y):
    return x + y

def subtract(x, y):
    return x - y

def multiply(x, y):
    return x * y

def divide(x, y):
    return x / y

print("Select operation:")
print("1.Add")
print("2.Subtract")
print("3.Multiply")
print("4.Divide")

choice = input("Enter choice (1/2/3/4): ")
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))

if choice == '1':
    print(add(num1, num2))
elif choice == '2':
    print(subtract(num1, num2))
elif choice == '3':
    print(multiply(num1, num2))
elif choice == '4':
    if num2 != 0:
        print(divide(num1, num2))
    else:
        print("Error: Division by zero")
else:
    print("Invalid input")

Select operation:
1.Add
2.Subtract
3.Multiply
4.Divide
Enter choice (1/2/3/4): 1
Enter first number: 1
Enter second number: 1
2.0

 Write a Python Program to Display Fibonacci Sequence Using Recursion.

In [ ]:
def fibonacci_recur(n):
  if n<=1 :
    return n
  else:
    return fibonacci_recur(n-1)+fibonacci_recur(n-2)



lst = []

for i in range(0,10+1):
  lst.append(fibonacci_recur(i))

print(lst)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

 Write a Python Program for array rotation.

In [ ]:
def rotating(arr,d):
  n = len(arr)

  rotated_arr =[0]*n

  for i in range(n):
    rotated_arr[i] = arr[(i+d)%n]

  return rotated_arr

arr = [1,2,3,4,5,6,7,8,9,10]
rotating(arr,4)

[5, 6, 7, 8, 9, 10, 1, 2, 3, 4]

 Write a Python Program to Split the array and add the first part to the end?

In [ ]:
def split_arr(arr,k):
  return arr[k:]+arr[:k]

print(split_arr([1,2,3,4,5],3))

[4, 5, 1, 2, 3]

 Write a Python Program to check if given array is Monotonic.

In [ ]:
def is_monotonic(arr):
  increasing = decreasing = True

  for i in range(1, len(arr)):
    if arr[i] > arr[i-1]:
      decreasing = False
    elif arr[i] > arr[i-1]:
      increasing = False

  return increasing or decreasing

print(is_monotonic([1,2,2,3,4]))

True

Write a Python Program to Sort Words in Alphabetic Order.

In [ ]:
my_str = input("Enter a string")

words = my_str.split()
# words = [word.capitalize() for word in my_str.split()]

words.sort()

for word in words:
  print(word)

Enter a stringWho are you
Who
are
you

Write a Python Program to Remove Punctuation From a String.

In [ ]:
from string import punctuation
punctuation

my_str = input("Enter a string : ")

none_punc = ""

for char in my_str:
  if char not in punctuation:
    none_punc = none_punc+char

print(none_punc)

Enter a stringHello!!!, he said ---and went
Hello he said and went

In [2]:
my_str2 = input("Enter a string")

words = [word.capitalize() for word in my_str2.split()]

words.sort()

for word in words:
  print(word)

Enter a stringHello I am
Am
Hello
I

In [3]:
from string import punctuation

my_str3 = input("Input a string : ")
none_punc = ''

for char in my_str3:
  if char not in punctuation:
    none_punc += char

print(none_punc)

Input a string : Hello!!!, he said ---and went
Hello he said and went

Write a Python program to check if the given number is a Disarium Number.

In [8]:
def is_disarium(num):
  len1 = str(num)

  digit_sum = sum(int(i)** (index+1) for index, i in enumerate(len1))

  return digit_sum == num

print(is_disarium(89))

True

In [10]:
print(int(input()) == sum(int(i)** (index+1) for index, i in enumerate(str(input()))))

89
89
True

Write a Python program to print all disarium numbers between 1 to 100.

In [12]:
for j in range(1,101):
  if(j) == sum(int(i)** (index+1) for index, i in enumerate(str(j))):
    print(j)

1
2
3
4
5
6
7
8
9
89

Write a Python program to check if the given number is Happy Number.

In [15]:
def is_happy(num):
  seen = set()

  while num != 1 and num not in seen:
    seen.add(num)
    num = sum(int(i)** 2 for i in str(num))

  return num == 1

print(is_happy(19))

True

Write a Python program to print all happy numbers between 1 and 100.

In [16]:
for i in range(1,101):
  if(is_happy(i)):
    print(i)

1
7
10
13
19
23
28
31
32
44
49
68
70
79
82
86
91
94
97
100

 Write a Python program to determine whether the given number is a Harshad
 Number.

In [18]:
def is_harshad(num):
  digit_sum = sum(int(i) for i in str(num))

  return num % digit_sum == 0

print(is_harshad(42))

True

Write a Python program to print all pronic numbers between 1 and 100.

In [19]:
def is_pronic(num):
  for n in range(1,int(num**.5)+1):
    if n*(n+1) == num:
      return True
  return False

for i in range(1,101):
  if(is_pronic(i)):
    print(i)

2
6
12
20
30
42
56
72
90

In [23]:
def find_n_largest_element(lst,n):
  sorted_lst = sorted(lst,reverse=True)

  largest_elements = sorted_lst[:n]

  return largest_elements

numbers = [30, 10, 45, 5, 20, 50, 15, 3, 345, 54, 67, 87, 98, 100, 34]

N = int(input("N = "))

print(find_n_largest_element(numbers,N))

N = 5
[345, 100, 98, 87, 67]